.mainContainer{
    width: 100%;
   height: auto;
    box-sizing: border-box;
   display: flex;
    height : "auto" ;
    /* border: 2px solid red; */
    
}

.rightContainer{
    width: 35%;
}

.leftContainer{
    width: 65%;
}

