.mainContainer{
    width: 100%;
    height:  auto;
   
}

.bigCards{
    width: 100%;
    display: flex;
    gap: 15px;
}

.smallCards{
    /* margin: 20px 10px; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

   
}