.wrapperStyle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderContainer {
    background-image: url("../../images/slider/sliderBg.png"); /* Public directory doesn't require relative paths */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    background-color: rgb(237, 232, 232);
    margin: 10px 0px ;
  }
  
  .mainContainer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  /* Slider card*/
  .cardContainer{
    width: 425px;
  }

  .innerContainer{
    width: 100%;
    display: flex;
    /* border: 2px solid green; */
    gap: 30px;
  }

  .imageContainer{
    width: 35%;
    height: 150px;
    cursor: pointer;
    border-radius: 50%;
    background-color: aqua;
    flex-shrink: 0px;
  }


  .image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .captioncContainer{
    width: 65%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .figureCaption{
    flex-grow: 1;
  }

  .imgCaptionh3{
    color : #F20E62;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .imgCaptionP {
    color: #4B4C5F;
    white-space: normal;
    cursor: pointer;
    transition: color 0.3s; /* Smooth transition for the color property */
  }
  
  .imgCaptionP:hover {
    color: #F20E62; /* Color changes on hover */
  }
  