.mainContainer{
    width: 100%;
    height: auto;
     /* border: 2px solid black; */
    display: flex;
    gap: 15px;
}

.bigCards{
    width: 50%;

}

.smallCards{
    width: 50%;
   
}

.cardss{
    border: 12px solid green;
}
/* @media only screen and (max-width : 1024px){
    .mainContainer{
        display: block;
        gap: 10px;
    }

    .bigCards{
        width: 100%;  
    }
    
    .smallCards{
      
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border: 2px solid red;
    } 

    .cards{
        border: 2px solid rgb(0, 15, 81);
        display: flex;
        flex-direction: column;
    }

    
} */

/* @media only screen (max-width : 770px){

} */


/* .mainContainer{
    width: 100%;
    height:  auto;
   
}

.bigCards{
    width: 100%;
    display: flex;
    gap: 15px;

   

}

.smallCards{
  
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

   
} */