.mainContainer{
    width: 100%;
    height: auto;
     /* border: 2px solid rgb(28, 27, 27); */
    display: flex;
    justify-content: space-between;
    gap: 15px;
  /* align-items: center; */
 /* background-color: aqua; */
}

.bigCards{
    width: 50%;

}

.smallCards{
    width: 50%;
   
}
