
.mainContainer {
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    flex-direction: column;
    height: auto;
    /* gap: 10;
    padding: 0; */
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in width/height */
    /* overflow-x: hidden; Prevent horizontal scroll */
}
