/* responsive Mobile screen max-width   430px */

@media only screen and (max-width : 430px) and (min-width : 315px){
    /* header */
    .headerTwoStyleMainContainer{
        display: block;
    }

    .headerTwoStyleSearchBar{
        width: 300px;
        /* background-color: aqua; */
    }

  .logoImage{
    /* width: 50px;
    height: aouto; */
  }

  .headerTwoStyleHamburg{
    display: flex;
  }
  
  .maincontainer{
    display: none;
  }

  .headerTwoStyleMainContainer{
    display: none;
    background-color: rgb(152, 152, 169);
  }

  .userAccess{
    display: none;
  }

  .headerTwoStyleSearchBar{
    display: none;
    /* background-color: rgb(21, 21, 180); */
  }

  .headerTwoStyleSearchInput{
     display: none;
  }

  .headerTwoStyleSearchBar{
    display: none;
  }

  /* banner */

  
}

/* responsive tablet screen max-width  430px */

@media only screen and (max-width : 770px){

}

/* responsive Laptop screen max-width  430px */

@media only screen and (max-width : 1400px){
    .container{
        background-color: aqua;
    }
}
/* responsive Large screen max-width  1450px */
