/* responsive Mobile screen max-width   430px */

@media only screen and (max-width: 430px) and (min-width: 315px) {
  /* header */
  .headerTwoStyleMainContainer {
    display: block;
  }

  .headerTwoStyleSearchBar {
    width: 300px;
  }

  .headerTwoStyleHamburg {
    display: flex;
  }

  .maincontainer {
    display: none;
  }

  .headerTwoStyleMainContainer {
    display: none;
    background-color: rgb(152, 152, 169);
  }

  .userAccess {
    display: none;
  }

  .headerTwoStyleSearchBar {
    display: none;
  }

  .headerTwoStyleSearchInput {
    display: none;
  }

  .headerTwoStyleSearchBar {
    display: none;
  }
/* rightside or topContainer */


  /* banner */

  .bannerMainContainer {
    display: block !important ;
  }

 .bannerRightContainerTopContainer {
    height: auto !important;
  }

  .bannerBottomDivRightContainer{
    height: auto !important;
  }

  .bannerBottomDivLeftContainer{
    height: auto !important;
  }

  .bannerImageConztiner{
    height: auto !important;
  }

  .bannerLeftContainer,
  .bannerRightContainer {
    width: 100% !important;
    height: auto;
  }

  .bannreBottomDiv {
    display: block !important;
  }

  .bannerBottomDivRightContainer,
  .bannerBottomDivLeftContainer {
    width: 100% !important;
  }
  /* wrapper */

  .wrapperMainContainer {
    width: 95% !important  ;
  }

  /* about */

  .aboutMainContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* about leftSideContainer */

  .aboutMainLeftContainer {
    /* background-color: green; */
    width: 100% !important;
  }

  /* aboutHeading */

  .aboutHeadingContainer {
    font-size: 25px !important;
  }

  .aboutHeadingHrContainer,
  .aboutHeadingBullet {
    display: none !important;
  }

  /* news */

  .newsMainContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .newsBigCards , .newsSmallCards{
    width: 100% !important;
  }
 
  /* globle  and finnance*/

  .globleBigCardContainer , .finnanceBigCards{
    display: block !important;
  }

  /*maincards */

  .cardMainContainer{

    width: 100% !important ;
    height: auto;
    margin-bottom: 4px  !important;

  }
 
  .cardInnerContainer{
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    gap: 5;
  }

  .cardButton1{
    padding: 5px !important;
  }

  .cardButton2{
    font-size: 12px !important;
  }


  /* About leftSide or bottomContainer */

  .aboutRightContainer{
    /* border: 2px solid green; */
    width: 100% !important;
  }
 
  /* gener Cards */
    .gainersCardsButton1{
      left: 0px !important;
    }

    .gainersCardsInnerContainer{
      padding: 8px !important;
    }

    .gainersCardButton2{
      font-weight: 600;
      justify-content: space-around!important;
    }

    /* pichart */

    .piChartinnerContainer{
      padding: 2px !important;
      box-shadow :  0px 0px 0px 0px rgb(255, 252, 252) ;
    }
  /* Footer */

  .logoContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerSocialIcons {
    width: 100%;
    align-items: center;
  }

  .menuListInnerContainer {
    display: block !important;
  }

  .footerCopyright {
    padding: 20px;
  }
}

/* responsive tablet screen max-width  770px */

@media only screen and (max-width: 770px) {
    /* banner */

    .bannerMainContainer {
      display: block !important ;
    }
  
   .bannerRightContainerTopContainer {
      height: auto !important;
    }
  
    .bannerBottomDivRightContainer{
      height: auto !important;
    }
  
    .bannerBottomDivLeftContainer{
      height: auto !important;
    }
  
    /* .bannerImageConztiner{
      height: auto !important;
    } */
  
    .bannerLeftContainer,
    .bannerRightContainer {
      width: 100% !important;
      height: auto;
    }
  
    
  
    
    
    /* wrapper */

  .wrapperMainContainer {
    width: 95% !important  ;
  }

    /* about */

    .aboutMainContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .aboutMainLeftContainer {
      /* background-color: green; */
      width: 100% !important;
    }

     /* About leftSide or bottomContainer */

  .aboutRightContainer{
    /* border: 2px solid green; */
    width: 100% !important;
  }

  .rightSideBarGainerCardStyle{
    display: flex !important;
  }

   /* gener Cards */

  .topGainMainContainer , .topLossMainContainer{
    width: 50% !important;
  }
   .gainersCardsButton1{
    left: 0px !important;
  }

  .gainersCardsInnerContainer{
    padding: 8px !important;
  }

  .gainersCardButton2{
    font-weight: 600;
    justify-content: center!important;
  }

  /* mainCards */

  .cardMainContainer{
    /* border: 2px solid red; */
    flex-direction: column;
   
  }

  .cardInnerContainer{
    /* border: 2px solid green; */
  }

}

/* responsive Laptop screen max-width  1030px */

@media only screen and (max-width: 1030px) {
    
  /* banner */

  .bannerMainContainer {
    display: block !important ;
  }

 .bannerRightContainerTopContainer {
    height: auto !important;
  }

  .bannerBottomDivRightContainer{
    height: auto !important;
  }

  .bannerBottomDivLeftContainer{
    height: auto !important;
  }

  .bannerImageConztiner{
    /* height: auto !important; */
  }

  .bannerLeftContainer,
  .bannerRightContainer {
    width: 100% !important;
    height: auto;
  }

  /* wrapper */

.wrapperMainContainer {
  width: 95% !important  ;
}

  /* about */

  .aboutMainContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .aboutMainLeftContainer {
    /* background-color: green; */
    width: 100% !important;
  }

   /* About leftSide or bottomContainer */

.aboutRightContainer{
  /* border: 2px solid green; */
  width: 100% !important;
}
/* adding to make in one block gain or loss card */
.rightSideBarGainerCardStyle{
  display: flex !important;
}

 /* gener Cards */

 .topGainMainContainer , .topLossMainContainer{
    width: 50% !important;
  }
 .gainersCardsButton1{
  left: 0px !important;
}

.gainersCardsInnerContainer{
  padding: 8px !important;
}

.gainersCardButton2{
  font-weight: 600;
  justify-content: center!important;
}
 
}
/* responsive Large screen max-width  1450px */
