.mainContainer{
    width: 100%;
    height: auto;
     /* border: 2px solid rgb(28, 27, 27); */
    display: flex;
    justify-content: space-between;
    gap: 15;
}

.bigCards{
    width: 48%;

}

.smallCards{
    width: 50%;
   
}

.cardss{
    border: 12px solid green;
}