.mainContainer{
    width: 100%;
   height: auto;
    /* border: 2px solid red; */
    /* margin: 10px 0px; */
    display: flex;
    justify-content: space-between;
}

.leftContainer{
    width: 55%;

}


/* rigth container */

.righContainer{
    width: 45%;
    /* height: 450px; */
}

.topdiv{
  
}

.bottomdiv{
    display: flex;
    overflow: hidden;
}


/* card Stling */

.imgContainer{
    width: "100%";  
    position: "relative";
    margin: 5px;
    /* padding: 5px; */
    overflow: hidden;
}

.mainImage{
    border-radius : "15px";
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 100%;
   
}

.mainImage:hover{
   transform: scale(1.1);
}
.buttonType{
    padding: 5px 10px;
    display: block;
    margin: 10px 0px ;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
}

.heading{
    text-transform: uppercase;
    display: inline;
    background: black;
    padding: 2px;
    cursor: pointer;
}

/* responsive  */

@media only screen and (max-width  : 426px){
    .mainContainer{
        border: 2px solid red;
        flex-direction: column;
        height: auto;
    }

    .leftContainer{
        width: 100%;
    }

    .righContainer{
        width: 100%;
        height: auto;
    }
    .bottomdiv{
        display: flex;
        overflow: hidden;
        /* flex-direction: column; */
    }

    /* card Stling */

    .mainImage{
        height: auto;
       
    }

    .buttonType{
        padding: 5px 10px;
        display: block;
        margin: 10px 0px ;
        text-transform: capitalize;
        font-weight: bold;
        cursor: pointer;
    }

   
   
}

/* @media only screen and (max-width : 768px){
    

} */

@media only screen and (max-width : 765px){
    
}

@media only screen and (min-width : 765px) and (max-width : 1024px ){
    .mainContainer{
        display: block;
    }

    .leftContainer{
        width: 100%;
    
    }

    .righContainer{
        width: 100%;
        /* height: 450px; */
    }

    .imgContainer{
        width: "100%";  
        position: "relative";
        margin: 1px;
        /* padding: 5px; */
        overflow: hidden;
    }
}