.mainContainer{
    width: 100%;
     height: auto;
    display: flex;
    justify-content: space-between;
}

.leftContainer{
    width: 55%;

}


/* rigth container */

.righContainer{
    width: 45%;
    /* height: 450px; */
}

.topdiv{
  
}

.bottomdiv{
    display: flex;
    overflow: hidden;
}


/* card Stling */

.imgContainer{
    width: "100%";  
    position: "relative";
    margin: 2px;
    /* padding: 5px; */
    overflow: hidden;
}

.mainImage{
    border-radius : "15px";
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 100%;
   
}

.mainImage:hover{
   transform: scale(1.1);
}
.buttonType{
    padding: 5px 10px;
    display: block;
    margin: 10px 0px ;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
}

.heading{
    text-transform: uppercase;
    display: inline;
    background: black;
    padding: 2px;
    cursor: pointer;
}

