


 .footerMainContainer{
    width: 100%;
    height: auto;
    background-color: #001f3f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
 }

 .logoContainer{
    width: 100%;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .footerSocialIcons{
   display: flex;
   justify-content: center;
   align-items: center;
   
    gap: 5;
 }
   
 .footerSocialIcons>a{
   margin: 10px;
 }
 .menuListContainer{
    width: 100%;
    height: auto;
    
 }



 .menuListInnerContainer{
   
    display: flex;
    width: 100%;
    /* border: 2px solid red; */
 }

 .menuListInnerContainer>.menuList{
   
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
 }

 .menuListInnerContainer>.menuList>ul{
    text-align: center;
    font-size: 25px;
    color : white;
    cursor: pointer;
 }

 .menuListInnerContainer>.menuList>h3{
    color: white;
    cursor: pointer;
 }

 
 .stockSideContainer{
    width: 100%;
    height: auto;

    color: white;
 }

 .bottomContainer{
    width: 100%;
    height: auto;
   
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0B0E11;
    padding: 5px 0px;
 }

.footerLinks{
    padding: 10px 0px;
    text-align: center;
}

.footerCopyright{
    text-align: center;
}
